p {
    font-family: Lato;
  }
  
  #root {
    padding: 30px;
  }
  
  .register-form {
  //  max-width: 350px;
    margin: 2%;
  }
  .rowclass{
    display: block;
  }
  .btnClass{
    width: 23%;
    margin-right: 1%;
  margin-top: 1%;
  }
  .formclass{
    text-align: right;
    margin-top: 1%;

  }